@import "bootstrap/dist/css/bootstrap.min.css";

/* Estilos personalizados */
.accordion-button:focus {
  box-shadow: none !important; /* Remove o brilho azul ao focar */
}

.accordion-button {
  background-color: #212529 !important; /* Verde Bootstrap */
  color: white !important;
  border: 1px solid #008000 !important; /* Borda verde escura */
}

.accordion-button:not(.collapsed) {
  background-color: #008000 !important; /* Tom mais escuro quando ativo */
  color: white !important;
}
